@import '{}/imports/ui/stylesheets/variables/index';

.course-edit-body {
	@include media-breakpoint-up(sm) {
		border-color: $course-border-color;
		border-style: $proposal-border-style;
	}

	&.is-frame {
		margin-top: 0;

		@include media-breakpoint-down(sm) {
			padding: 10px;
		}
	}
}

.course-edit-body .dropdown {
	position: relative;
}

.proposed-courses {
	border: 1px solid $primary;
	max-height: 200px;
	overflow: auto;
	width: 100%;
}

.proposed-courses > .dropdown-header {
	margin-top: 8.5px;
	text-align: start;
}

.proposed-courses > .dropdown-header > {
	.fa-regular,
	.fa-brands,
	.fa-solid {
		color: $blue;
		font-size: 1.5rem;
		margin-right: 7px;
	}
}

.proposed-courses > .close-dropdown-button {
	left: 50%;
	margin-bottom: 8px;
	margin-top: 8px;
	position: relative;
	transform: translateX(-50%);
}
