<template name="calendarNavWeek">
	<div class="calendar-nav-container text-center flex-container">
		<div class="row align-items-center p-1">
			<div class="col-md-3 col-lg-4 p-1">
				{{> searchField searchFieldAttr}}
			</div>
			<div class="col-md-6 col-lg-4 p-1">
				<div class="row justify-content-center align-items-center text-center">
					{{#unless hideSwitches}}
						{{> calendarNavWeekControl direction='previous'}}
					{{/unless}}
					<div class="col-auto">
						<div class="lead">
							{{i18n "calendar.weekNumber" "Week"}} {{weekNr date}}
						</div>
						<div>
							<span class="d-none d-md-inline-block">{{dateLong date}} -
								{{dateLong (endDateTo date)}}</span>
							<span class="d-md-none">{{dateShort date}} -
								{{dateShort (endDateTo date)}}</span>
						</div>
					</div>
					{{#unless hideSwitches}}
						{{> calendarNavWeekControl direction='next'}}
					{{/unless}}
				</div>
			</div>
			<div class="row align-items-center">
				{{#if availableGroups}}
					<div class="col-md-3 col-lg-2 p-1">
						{{> filterGroups filterGroupsAttr}}
					</div>
					<div class="col-md-3 col-lg-2 p-1">
						{{> filterCategories filterCategoriesAttr}}
					</div>

				{{else}}
					<div class="offset-lg-2 col-md-4 col-lg-2 p-1">
						{{> filterCategories filterCategoriesAttr}}
					</div>
				{{/if}}
			</div>
			{{#if currentUser}}
				<div
					 class="{{#unless availableGroups}}offset-md-4 offset-lg-2 {{/unless}}col-md-8 col-lg-4 p-1">
					<div class="form-check form-switch">
						<input type="checkbox" id="filter-own-events"
							   class="form-check-input float-none js-filter-own-events"
							   name="filter-own-events">
						<label
							   for="filter-own-events">{{i18n 'calendar.filter-own-events' 'Show my events only'}}</label>
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</template>

<template name="calendarNavWeekControl">
	<div class="col-auto px-4">
		<button type="button" class="btn btn-secondary js-change-date">
			{{arrow}} <span class="d-none d-md-inline-block">{{text direction 'short'}}</span>
		</button>
	</div>
</template>

<template name="calendarNavWeekDynamicTranslations">
	This template holds translation strings that are constructed dynamically in this component

	{{i18n 'calendar.previous.week.short' 'previous week'}}
	{{i18n 'calendar.next.week.short' 'next week'}}
</template>
